.item{
  border: 5px solid rgb(25, 25, 25);
  border-radius: 10px;
  width: 350px;
  height: 500px;
  list-style: none;
  margin: 50px 40px;
  font-size: 20px;
}
.img-item-container{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(67, 67, 67, 0.6) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}
.img-item{
  width: 80%;
}
.text-item{
  height: 40%;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  padding: 20px 15px;
}
.title-item{
  margin: 0 0 40px 0;
}
.price-item{
  font-size: 25px;
  font-weight: 500;
}
.item-button{
  margin: 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: rgb(171, 20, 20);
}