.item{
  border: 5px solid rgba(223, 160, 109, 0.829);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.item-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1rem;
  box-shadow: 0 0 2px gray;
  display: grid;
}

.item-img{
  width: 50%;
  height: auto;
  align-items: center;
  padding: 15px;
}

.item-title{
  margin: 0 0 40px 0;
  font-size: 30px;
}

.item-price{
  font-size: 20px;
}

.item-button{
  margin: 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: rgba(141, 73, 9, 0.774);
  margin-bottom: 20px;
}